<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <% if @user.tweets.empty? == true %>
       No Tweets Yet!
   <% else %>
  <strong>All tweets:</strong>
  <% @user.tweets.each do |singletweet| %>
    <%= singletweet.status %>
<<<<<<< HEAD
          <% if singletweet.status.empty? # => true
              then singletweet.status == 'No Tweets Yet' %>
        <% end %> 
  <% end %> 
=======
    <% end %>
  <% end %>
>>>>>>> independent
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
  
